<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<body>

<nav class="navbar navbar-dark navbar-expand-lg" style="background-color: rgb(0,51,0); height: 80px;">
  <a class="navbar-brand" href="#">Persistent Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" style="margin-left: 435px;">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/open">Open Image</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Detect and Select</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Annotate and Segment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Report and Export</a>
      </li>
    </ul>
    
  </div>
</nav>

<div class="container-fluid" style="text-align: center; margin-top: 70px">
 <br>
  <h1 class="display-4">Lung Cancer Diagnosis System </h1>
  <p class="lead" style="margin-top:40px; margin-left: 220px; margin-right: 220px;">Lung cancer detection made easy with the use of 3D CNNs and Explainable AI. Explore a decision-support system that is specifically designed by prioritizing the needs of radiologists.</p>
  <p class="lead">Start by opening available DICOM images.</p>
  <button type="button" class="btn btn-outline-success" onclick="window.location.href='/open'">Open Images</button><br><br>
  <hr>
</div>

</body>
</html>