<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<body style="background-color: rgb(242,242,242);">

<nav class="navbar navbar-dark navbar-expand-lg" style="background-color:  rgb(21,87,36); height: 60px;">
  <a class="navbar-brand" href="#" style="margin-left: 40px;">Persistent Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item" style="margin-left: 450px;">
        <a class="nav-link" href="#" style="width: 100px;">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/open" style="width: 150px;">Open Image</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin" style="width: 150px;">Administration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="width: 150px;">Report and Export</a>
      </li>
    </ul>
    
  </div>
</nav>

<div class="container-fluid" style="text-align: center;">
  <p class="lead" style="margin-top:40px; margin-left: 220px; margin-right: 220px;">Select an existing case or import imagery and create a new case to begin.</p>

<!-- RGB values: dark green: rgb(21,87,36); light green: rgb(195,230,203); green : rgb(40,167,69); -->

      <div class="list-group list-group-flush" id="myListImg" role="tablist" style="display: inline-block; border-color: green; margin-top: 10px; margin-bottom: 20px; width:600px;">
              <li class="list-group-item list-group-item-action " style="background-color: rgb(21,87,36); color: white;" >Available Images</li>
                {% for rc in registered_cases %}
              <a class="list-group-item list-group-item-action list-group-item-success" href="/portal/{{ rc.case_id }}/0/">{{ rc.patient_id }}</a>
                {% endfor %}
        </div>  
    <br>
        <form method = "POST" action = "/process/">
          {% csrf_token %}
          <select id="case" name="case">
            {% for case in cases %}
              <option value="{{ case }}">{{ case }}</option>
            {% endfor %}
          </select>
          <br>
          <br>
          <input type="submit" value="Submit" class="btn btn-light" style="background-color: rgb(21,87,36); color:white;"/>
        </form>
      <hr>

</div>

</body>
</html>