<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
<meta content="CT lung cancer screening" name="dcterms.title"/>
<meta content="CT lung cancer screening report template" name="dcterms.description"/>
<meta content="http://www.radreport.org/template/0000268" name="dcterms.identifier"/>
<meta content="en" name="dcterms.language"/>
<meta content="IMAGE_REPORT_TEMPLATE" name="dcterms.type"/>
<meta content="Radiological Society of North America (RSNA)" name="dcterms.publisher"/>
<meta content="May be used gratis, subject to license agreement" name="dcterms.rights"/>
<meta content="http://www.radreport.org/license.pdf" name="dcterms.license"/>
<meta content="2014-01-05" name="dcterms.date"/>
<meta content="Tolat P, Kahn CE Jr" name="dcterms.creator"/>

<meta content="Kahn CE Jr [editor]" name="dcterms.contributor"/>
<meta content="Medical College of Wisconsin (MCW)" name="dcterms.contributor"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/xml">
<!--
<template_attributes>
<top-level-flag>true</top-level-flag>
<status>ACTIVE</status>
<coding_schemes>
 <coding_scheme name="RadLex" designator="2.16.840.1.113883.6.256" />
 <coding_scheme name="SNOMEDCT" designator="2.16.840.1.113883.6.96" />
 <coding_scheme name="LOINC" designator="2.16.840.1.113883.6.1" />
</coding_schemes>
<coded_content>
</coded_content>
</template_attributes>
-->
</script>
</head>
<body style= "background-color: rgb(242,242,242);">

<!-- RGB values: dark green: rgb(21,87,36); light green: rgb(195,230,203); green : rgb(40,167,69); -->


<nav class="navbar navbar-dark navbar-expand-lg" style="background-color: rgb(21,87,36); height: 60px;">
  <a class="navbar-brand" href="#" style="margin-left: 40px;">Persistent Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item" style="margin-left: 450px;">
        <a class="nav-link" href="#" style="width: 100px;">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/open" style="width: 150px;">Open Image</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="width: 150px;">Import Image</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" style="width: 150px;">Report and Export</a>
      </li>
    </ul>
    
  </div>
</nav>



<div class="container-fluid">
<h2  style="margin-top:40px;margin-bottom: 20px; text-align: center;">RSNA Standard Template</h2>
<hr>
<div class="row">
<table class="table table-borderless"  style="margin-top: 20px;margin-left: 250px;margin-right: 0px; max-width: 700px; ">
<tbody  >
  <tr>
    <th>Case ID:</th>
  
    <th>Next visit:</th>
  </tr>
  <tr >
    <th scope="row">Technical parameters</th>
  </tr>
  <tr>
    <td>kVp:</td>
  </tr>
  <tr>
    <td>mA:</td>
  <tr>
    <td>DLP:</td>
  </tr>
</tr>
  <tr>
    <th scope="row">Clinical information</th>
  </tr>
  <tr>
     <td>Diagnostic Quality:</td>
  </tr>
  <tr>
     <td>See physician:</td>
  </tr>
  <tr>
     <td>Comments:</td>
  </tr>
  
  
</tbody>
</table>
</div>
<div class="row">
<div class="col">
<table class="table table-borderless"  style="margin-top: 20px;margin-left: 230px;margin-right: 200px; max-width: 700px; ">
<tbody  >
  <tr>
    <th scope="row">Lung Nodules</th>
  </tr>
  <tr>
    <th scope="row">Nodule #1</th>
  </tr>
  <tr>
    <td>Position:</td>
  </tr>
  <tr>
    <td>State:</td>
  </tr>
  <tr>
    <td>Size:</td>
  </tr>
  <tr>
    <td>Slice index:</td>
  </tr>
  <tr>
    <td>Score:</td>
  </tr>
  <tr>
    <td>Diameter:</td>
  </tr>
  <tr>
    <td>Probability:</td>
  </tr>
  <tr>
    <td>Concerning:</td>
  </tr>
  <tr>
    <td>Explanation:</td>
  </tr>
</tbody>
</table>

</div>


<div class="col">
<img style="margin-top: 80px; margin-left: 0px;" src="data:image/png;base64,{{ img }}" height="300" width="300"/>
</div>
</div>

</div>
</body>
</html>
